<!-- <header>
  <a routerLink="/">
    <h1>{{title}}</h1>
  </a>
  <a class="snipcart-checkout" href="#">View Cart</a>
</header>
<div class="container"> -->
  <router-outlet></router-outlet>
<!-- </div>
<footer>
  <a href="https://snipcart.com/blog/angular-seo-universal-server-side-rendering">Made by Snipcart</a>
  <div class="right">
    <a href="https://twitter.com/snipcart">Twitter</a>
    <a href="https://github.com/snipcart/snipcart-angular-universal">GitHub</a>
  </div>
</footer> -->