<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V2</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-26">
						<!-- Welcome -->
					</span>
					<span class="login100-form-title p-b-48">
            <!-- <i class="zmdi zmdi-font"></i> -->
            {{brand}}
					</span>
					<h6 class="text-danger">{{error}}</h6>
					<h6 class="text-success">{{success}}</h6>
					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
            <span data-placeholder="Email">Email</span>
            <input class="input100" type="text" [(ngModel)]="email" name="email">
					</div>
					<div class="wrap-input100 validate-input" data-validate="Enter password">
            <span data-placeholder="Password">Password</span>
						<input class="input100" [(ngModel)]="password" type="password" name="pass">
					
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" (click)="this.login()">
								Login
							</button>
						</div>
					</div>

					<div class="text-center p-t-115">
						<span class="txt1">
							Welcome to admin dashboard @BB ({{year}})
						</span>

					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="/assets/Login_V2/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/Login_V2/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/Login_V2/vendor/bootstrap/js/popper.js"></script>
	<script src="assets/Login_V2/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/Login_V2/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/Login_V2/vendor/daterangepicker/moment.min.js"></script>
	<script src="/assets/Login_V2/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/assets/Login_V2/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/assets/Login_V2/js/main.js"></script>

</body>
</html>