.cart-form{
    position: fixed;
    width: 95%;
    background-color: white;
    height: 77%;
    top: 17%;
    padding: 35px;
    right: 2%;
    box-shadow: 0px 0px 28px black;
    border: 1px solid;
    border-style: dashed;
    z-index: 100;
}
.deleBtn{    margin-top: -5px;
    height: 33px;
    line-height: 0;}
.cart-form-back{
  
    position: fixed;
    width: 100%;
    background-color: rgba(32, 30, 30, 0.356);
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 0;
}
.right-cart{
    background-color: rgb(206, 205, 201);
    height: 515px;
    position: relative;
    right: -3%;
    top: -68px;
    width: 273px;
}
.btn-full{
    width: 100%;
}