<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
<!-- Page Content -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container-fluid">
  <div class="row">
    <!--Carousel Wrapper-->
    <div id="video-carousel-example2" class="carousel slide carousel-fade" data-ride="carousel">
      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#video-carousel-example2" data-slide-to="0" class="active"></li>
        <li data-target="#video-carousel-example2" data-slide-to="1"></li>
        <li data-target="#video-carousel-example2" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <!-- First slide -->
        <div class="carousel-item active">
          <!--Mask color-->
          <div class="view">
            <!--Video source-->
            <!-- <video class="video-fluid" autoplay loop muted>
            <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4" />
          </video> -->
            <img width="100%" src="./../../../../assets/imagestemp/brooke-lark-230642-unsplash.jpg" />
            <div class="mask color-pink"></div>
          </div>

          <!--Caption-->
          <div class="carousel-caption">
            <div class="animated fadeInDown">
              <h3 class="h3-responsive">Light mask</h3>
              <p class="content-slider">
                Coffee
                A cup of coffee
                A cup of coffee.
                Type	Hot or cold (usually hot)
                Country of origin	Yemen (drink), Ethiopia (plant)[1]
                Introduced	15th century
                Color	Black, dark brown, light brown, beige
                Coffee is a brewed drink prepared from roasted coffee beans, the seeds of berries from certain Coffea species. The genus Coffea is native to tropical Africa (specifically having its origin in Ethiopia and Sudan) and Madagascar, the Comoros, Mauritius, and Réunion in the Indian Ocean!</p>
              <button type="button" class="btn btn-pink">Explore</button>
            </div>
          </div>
          <!--Caption-->
        </div>
        <!-- /.First slide -->
        <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <!--Video source-->
            <!-- <video class="video-fluid" autoplay loop muted>
            <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4" />
          </video> -->
            <img width="100%" src="./../../../../assets/imagestemp/artem-bali-682651-unsplash.jpg" />
            <div class="mask color-pink"></div>
          </div>

          <!--Caption-->
          <div class="carousel-caption">
            <div class="animated fadeInDown">
              <h3 class="h3-responsive">Light mask</h3>
              <p class="content-slider">
                Coffee
                A cup of coffee
                A cup of coffee.
                Type	Hot or cold (usually hot)
                Country of origin	Yemen (drink), Ethiopia (plant)[1]
                Introduced	15th century
                Color	Black, dark brown, light brown, beige
                Coffee is a brewed drink prepared from roasted coffee beans, the seeds of berries from certain Coffea species. The genus Coffea is native to tropical Africa (specifically having its origin in Ethiopia and Sudan) and Madagascar, the Comoros, Mauritius, and Réunion in the Indian Ocean!</p>

              <button type="button" class="btn btn-pink">Explore</button>

            </div>
          </div>
          <!--Caption-->
        </div>
        <!-- /.First slide -->

      </div>
      <!--/.Slides-->
      <!--Controls-->
      <a class="carousel-control-prev" style="background-color: #3c240e80;width: 47px;" href="#video-carousel-example2"
        role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" style="background-color: #3c240e80;width: 47px;" href="#video-carousel-example2"
        role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!--/.Controls-->
    </div>
  </div>
</div>
<!--Carousel Wrapper-->

<div class="container">
  <div class="row">
    <img src="../../../../assets/images/bannerhome.png" width="100%" style="margin-top:30px;height:100%;" />
    <div class="d-flex flex-row justify-content-around w-100" style="width:100%">
      <div class="option-ticker">
        Every korean food for exploring
      </div>
      <div class="option-ticker">
        Cool drinking for exploring
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <!--Carousel Wrapper-->
    <div id="discount" class="containerc " data-ride="carousel">

      <!--Controls-->
      <h4 class="title-combo-card"> Food is discounted</h4>
      <!--/.Controls-->

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <!-- <div class="carousel-inner d-flex flex-r" role="listbox"> -->

      <!--First slide-->
      <!-- <div class="carousel-item active"> -->


      <div class="row">

        <app-product-card [listProduct]="listProductDiscount" [class]="'col-xs-6 col-sm-6 col-md-4 col-lg-4 card-show'"></app-product-card>


      </div>

      <!-- </div>

      </div> -->
      <!--/.Slides-->


      <!--/.Carousel Wrapper-->
    </div>



    <!--Controls-->
    <div class="containerc">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
          <h4 class="title-combo-card" style="width:100%;"> Newest recepies</h4>
        </div>
        <app-product-card [listProduct]="listProductNewest" [class]="'col-xs-12 col-sm-6 col-md-3 col-lg-3 card-show'"></app-product-card>

        <!-- <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-show" *ngFor="let item of listProductNewest">
          <div class="card mb-2">
            <div class="cardc">
              <h5 class="safe-icon">Safe off {{round(item.promotionPrice/item.price)}}%</h5>
              <div class="show-top-cart">
                <a class="text-center" (click)="redirectProductDetailById(item.id)"><small> me for detail..</small></a>
              </div>
              <div class="show-bottom-cart d-flex justify-content-center align-items-center">
                <i class="love fa fa-heart"></i>
              </div>
              <img class="card-img-top" src={{item.imgUrl}} alt="Card image cap">
            </div>
            <div class="card-body">

              <h6 class="card-title">{{item.nameVi}}</h6>

              <div [ngClass]="boxStar"><i class="fa fa-star full-star"></i><i class="fa fa-star full-star"></i><i class="fa fa-star full-star"></i><i
                  class="fa fa-star-half full-star"></i><i class="fa fa-star empty-star"></i></div>
              <p class="price">{{item.promotion_price}} vnd <del><small>({{item.price}} vnd)</small></del></p>

              <p>
                <small>{{item.descriptionVi}}</small>
              </p>
              <div class="d-flex flex-row justify-content-between">
                <div>
                  3 <i class="fa fa-comment-o" aria-hidden="true"></i>
                  5<i class="fa fa-eye"></i>
                </div>
                <div>
                  0<i class="fa fa-heart"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="card-text">
            {{item.descriptionVi}}</div>
        </div> -->
      </div>
    </div>


    <!-- /.row -->

    <!-- Pagination -->
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>

  </div>

</div>


<!-- /.container -->

<!-- start intro -->

<hr />
<div class="container mt-5">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 news">
      <h4 class="title-box-news">News</h4>
      <img src="./../../../../assets/imagestemp/Last-Minute-Thanksgiving-Hero-6x4-10102017.jpg" width="100%" class="img-responsive"
        alt="Image">
      <div class="row mt-2 ">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 border-right">
          <a href="#"></a>
          <h2>Our Best Thanksgiving Recipes & Menu Ideas</h2>
          <p><small>From turkeys (you kind of need one) to cocktails (you definitely need one) and everything
              in-between.</small></p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="d-flex flex-row mt-4">
            <img src="./../../../../assets//imagestemp/Sweet-Potato-Sonker-with-Milk-Dip-10102018.jpg" class="img-responsive"
              width="20%" alt="Image">

            <h6 class="ml-1">New food make awesome person
              <p><small>From turkeys (you kind of need one) to cocktails (you definitely need one) and everything
                  in-between.</small></p>
            </h6>

          </div>
          <div class="d-flex flex-row mt-4">
            <img src="./../../../../assets//imagestemp/Sweet-Potato-Sonker-with-Milk-Dip-10102018.jpg" class="img-responsive"
              width="20%" alt="Image">

            <h6 class="ml-1">New food make awesome person
              <p><small>From turkeys (you kind of need one) to cocktails (you definitely need one) and everything
                  in-between.</small></p>
            </h6>

          </div>
          <div class="d-flex flex-row mt-4">
            <img src="./../../../../assets//imagestemp/Sweet-Potato-Sonker-with-Milk-Dip-10102018.jpg" class="img-responsive"
              width="20%" alt="Image">

            <h6 class="ml-1">New food make awesome person
              <p><small>From turkeys (you kind of need one) to cocktails (you definitely need one) and everything
                  in-between.</small></p>
            </h6>

          </div>
        </div>
      </div>

    </div>



    <hr />

    <div class="container-fluid story mb-5  mt-5">

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-3">
          <h4 class="title-box">Start up story</h4>
          <p class="text-white"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Molestiae nesciunt eum consequatur sunt fuga atque esse sint, quae nihil maiores,
            voluptates saepe est reprehenderit aspernatur recusandae eligendi obcaecati molestias labore.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Molestiae nesciunt eum consequatur sunt fuga atque esse sint, quae nihil maiores,
            voluptates saepe est reprehenderit aspernatur recusandae eligendi obcaecati molestias labore.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Molestiae nesciunt eum consequatur sunt fuga atque esse sint, quae nihil maiores,
            voluptates saepe est reprehenderit aspernatur recusandae eligendi obcaecati molestias labore.
          </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <img src="./../../../../assets//images//korea-wallpaper-37-610x343.jpg" width="103%" height="101%" class="" />

        </div>

        <div>
          <div class="">

          </div>
        </div>
      </div>

    </div>