
  
     
      
  <div id="login-box">
    <div class="left">
      <h1>Sign up</h1>
      <form #bform="ngForm" id="bform">
      <input type="text" required id="fullname" name="fullname" placeholder="Full name"  [(ngModel)]="fullname"/>
      <input type="text" required id="email" name="email" placeholder="E-mail"  [(ngModel)]="email"/>
      <p><small class="text-danger">{{email_err}}</small></p>
    
      <input type="password"  id="password"  name="password" required placeholder="Password"  minlength="8" [(ngModel)]="password"/>
     
      <p><small class="text-danger">{{password_err}}</small></p>
    
      <input type="password" name="password2" placeholder="Retype password"  [(ngModel)]="password2" />
      <p><small class="text-danger">{{password_err2}}</small></p>
      <!-- <p class="text-warning" [hidden]="bform.form.valid">Fill up fields(*)!</p> -->
      <a class="btn btn-success btn-block"  type="submit" (click)="signup()" >Sign me up</a>
      <a routerLink="/login" class="btn btn-default btn-block mt-1 mb-3">I have an account.</a>
    </form>
     
    </div>
    
    <div class="right" style="     height: 495px;    background-color: #ffdbb7;">
      <span class="loginwith">Sign in with<br />social network</span>
      
      <button class="social-signin facebook">Log in with facebook</button>
      <button class="social-signin twitter">Log in with Twitter</button>
      <button class="social-signin google">Log in with Google+</button>
    </div>
    <div class="or">OR</div>
  </div>
    