<div class="form d-flex flex-column align-items-center animated bounceIn" *ngIf="show">
  <h3>{{title}}</h3>
  <p>{{content}}</p>
  <div>
    <button class="btn btn-danger" (click)="yesCo()">Yes</button>
    <button class="btn btn-default" (click)="noCo()">No</button>
  </div>
</div>