<div class="cart-form-back" *ngIf="show"></div>
<div class="cart-form animated bounceIn" *ngIf="show">
  <h5>Order :{{order_id}}</h5>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <table class="table table-hover  table-responsive">
          <thead class="thead-default">
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cart">
              <td  >
                <img width="30%" src={{item.imgUrl}}/>
              </td>
              <td>{{item.nameEn}}</td>
              <td>{{item.promotion_price>0?priceFormat(item.promotion_price):priceFormat(item.price)}}</td>
              <td><input type="number" readonly value={{item.quantity}} min="1"  (change)="fixQuantity(item.id,$event.target.value)"></td>
              <td>{{priceFormat(item.quantity*item.price)}}</td>
              <!-- <td><button class="btn btn-danger deleBtn" (click)="deleteItem(item.id)">X</button></td> -->
            </tr>
           
          </tbody>
        </table>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 right-cart d-flex flex-column justify-content-center">
        <div>
        <p>  <b>Total items: {{quantity}}</b></p>
        <p> <b>Total money: {{priceFormat(totalMoney)}}</b></p>
        </div>
        <div>
         
        </div>
        <div>
          <a name="" routerLink="/checkout" (click)="btnClose()" class="btn btn-success btn-full" role="button">Proceed to cart</a>
          <a name="" id="" class="btn btn-warning btn-full"  role="button" (click)="btnClose()">Continue buy food</a>
        </div>
      </div>
    </div>

  </div>

</div>