<div class="container mt-5 mb-5">
  <div class="row">
<div class="cart-form animated bounceIn" >
  <h5>Your cart</h5>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <table class="table table-hover  table-responsive">
          <thead class="thead-default">
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cart">
              <td  >
                <img width="30%" src={{item.img_url}}/>
              </td>
              <td>{{item.name}}</td>
              <td>{{item.promotion_price>0?priceFormat(item.promotion_price):priceFormat(item.price)}}</td>
              <td><p type="number">{{item.quantity}}</p></td>
              <td>{{priceFormat(item.quantity*item.price)}}</td>
              <td></td>
            </tr>
           
          </tbody>
        </table>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 right-cart d-flex flex-column justify-content-center">
        <div>
        <p>  <b>Total items: {{quantity}}</b></p>
        <p> <b>Total money: {{priceFormat(totalMoney)}}</b></p>
        </div>
        <div>
          <div class="form-group">
            <label for="">Full Name</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" [(ngModel)]="customerInfo.fullName" placeholder="">
            <small id="helpId" class="form-text text-muted">Help text</small>
          </div>
          <div class="form-group">
            <label for="">Phone</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" [(ngModel)]="customerInfo.phone" placeholder="">
            <small id="helpId" class="form-text text-muted">Help text</small>
          </div>
          <div class="form-group">
            <label for="">Address</label>
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" [(ngModel)]="customerInfo.address" placeholder="">
            <small id="helpId" class="form-text text-muted">Help text</small>
          </div>
        </div>
        <div>
          <p class="text-danger">{{err}}</p>
          <a name="" routerLink="/checkout" (click)="btnPlaceOrder($event)" class="btn btn-success btn-full" role="button">Place order</a>
         
        </div>
      </div>
    </div>

  </div>

</div>
</div>

</div>