<script>
  var global = window;
</script>
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <div class="chat-container">
    <div class="chat">
      <div class="message"></div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="send-button">

    <div class="send" >
      <button class="btn btn-succes" (click)="sendMessage(input.value)">send</button>
    </div>
    <input  id="input" type="text" #input>
  </div>

</div>

