.chat-container{
    height: 80vh;
    width: 100vw;
  }
  .chat{
    text-align: left;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    border: 1px solid grey;
  }
  
  .footer{
    background: #cccccc;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100vw;
  }
  .send-button{
    margin: 0 auto;
    height: 70%;
    width: 50%;
  }
  input{
    float: right;
    height: 30px;
    border-radius: 15px;
    font-size: 1.5em;
  }
  .send{
    float: right;
    // background: url("../assets/images/send.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    margin-left: 5px;
  
  }
  