<div class="container">
  <div class="row">
    <img src="../../../../assets/images/bannerhome.png" width="100%" style="margin-top:30px;height:100%;" />
    <div class="d-flex flex-row justify-content-around w-100" style="width:100%">
      <div class="option-ticker">
        Every korean food for exploring
      </div>
      <div class="option-ticker">
        Cool drinking for exploring
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">   <!--Controls-->
    <div class="containerc">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
          <h4 class="title-combo-card" style="width:100%;"> {{category_title}}</h4>
          <h6 class="text-center " style="width:100%;"> {{category_description}}</h6>
        </div>

        <app-product-card [listProduct]="pagedItems" [class]="'col-xs-12 col-sm-6 col-md-3 col-lg-3 card-show'"></app-product-card>

    </div>


    <!-- /.row -->

    <!-- Pagination -->
    <app-pagination [originList]="itemList" [session]="session" [numberItemOnePage]="numberItemOnePage"  (changePage)="pagedItems = $event"></app-pagination>

  </div>
</div>

