<div class="container mt-5 mb-5 p-5">
  <div class="row">
    <h2 class="title text-center">About Koreco<small class=" text-center" style="font-size:10px;">That a long story to
        tell</small></h2>
    <p></p>
    <h3 style="    color: #0fa0a0;">We’re a korean based restaurant company founded by Tran Huy Bao that specialises in
      cuisine, cooking and drinking. We believe that creativity has no boundaries and a creative vision transcends the
      media it is created in.</h3>


    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <p>From the largest of makings to the smallest of food, we traverse different receipes with one united vision: to
        tell stories through our designs in a beautiful, fun and innovative way. These stories are what makes our
        designs charasmatic, engaging, unexpected and ultimately, sincere. All of our projects are imbued with a
        concept that stems from a period of intense research to ensure that your project is not only beautiful and
        functional but most importantly, meaningful. We believe that there has to be more to design than just an
        endless rearrangement of lines, objects and colours of new foods.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <p>From the largest of makings to the smallest of food, we traverse different receipes with one united vision: to
        tell stories through our designs in a beautiful, fun and innovative way. These stories are what makes our
        designs charasmatic, engaging, unexpected and ultimately, sincere. All of our projects are imbued with a
        concept that stems from a period of intense research to ensure that your project is not only beautiful and
        functional but most importantly, meaningful. We believe that there has to be more to design than just an
        endless rearrangement of lines, objects and colours of new foods.</p>
    </div>
    <div class="col-sm-12 d-flex flex-row justify-content-center align-items-center">
      <img src="./../../../../assets/imagestemp/61uFM8qgydL._SL500_.jpg" class="img-responsive self-align-center" alt="Image">
    </div>

    <p>We love working with all types of clients, from start-ups businesses to global brands, and in the short time
      since our establishment, we have worked with American Express, Virgin, De Beers, Kiplinger’s Personal Finance
      magazine and Imogen Heap. Above everything else, we believe that all design, from its inception to the final
      product should have an element of joy about it – for both you and for us. After all, design is an escape from the
      futility of modern life, not an endorsement of it.</p>
  </div>
</div>