<div class="panel panel-headline">
  <div class="panel-heading">
    <h3 class="panel-title">Product</h3>
    
    <a   routerLink="/admin/product/add-new"  class="btn btn-success">Add new</a>
    
    <p class="panel-subtitle"></p>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>id</th>
          <th>Name</th>
          <th>Author</th>
          <th>CreateDate</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pagedItems;index as i;" >
          <td>{{i}}</td>
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.author}}</td>
          <td>{{item.create_date}}</td>
          <td class="text-center"><i  [class]="item.status?'fa fa-circle text-success':'fa fa-circle text-danger'" ></i></td>
          <td><button class="fa fa-pencil-square btn-warning mr-1" aria-hidden="true" (click)="updateItems(item.id)"></button> <button class="fa fa-trash-o btn-danger" (click)="delete(item.id)" aria-hidden="true"></button></td>
        </tr>
       
      </tbody>
    </table>
    <app-pagination [originList]="itemList" [session]="session" [numberItemOnePage]="numberItemOnePage"  (changePage)="pagedItems = $event"></app-pagination>
    <app-confirm-form [title]="confirm.title" [content]="confirm.content" [show]="confirm.show" (yes)="yes()" (no)="no()"></app-confirm-form>
    <app-notification [title]="notification.title" [bodyText]="notification.bodyText" [(show)]="notification.show"
      (isShowChange)="notification.show = $event" [notificationType]="notification.notificationType"></app-notification>
  </div>
</div>
<!-- END OVERVIEW -->

