.img-form{
    position: fixed;
    top: 65px;
    right: 10px;
    width: 78%;
    height: 88%;
    background-color: #f3cfcfe6;
}
.hide{display:none;}
.btn-close{
    position: absolute;
    right: 1%;
    top: 2%;
    background-color: red;
    border-radius: 12px;
    color:white;
}
.btn-del{
    position: absolute;
    right: 1px;
    top: 0px;
    box-shadow: 0px 2px 2px grey;
    border: none;
    background-color: black;
    color: gray;
    border-radius: 7px;
}
.btn-del:hover{background-color: red;}
.btn-close:hover{
   
    background-color: rgb(56, 54, 54);
   
}
.img-form-header{}
.image{
    height: 154px;
    width: auto;
}