<div [class]="show?'img-form p-3 animated slideInUp':classOutForm">
  <div class="img-form-header">
    <h3 class="text-center">***Image library***</h3>
    <button class="btn-close" (click)="closeBtn()">x</button>
    <div class="d-flex flex-row">
      <input type="file" (change)="onFileChanged($event)" accept=".jpg,.png" class="mt-1" />
      <input class="form-control mt-1" type="text" [(ngModel)]="imgName" placeholder="Name of image" />
      <button class="btn btn-primary" style="height:40px;" (click)="upload()">Upload</button>
    </div>
    <div class="img-form-body">
      <div class="container-fluid">
        <div class="row">
          <div data-id={{fotmatProtocal(item.fileDownloadUri)}} class="col-xs-12 col-sm-12 col-md-2 col-lg-2 p-2 img-thumbnail mr-3 mb-2 d-flex flex-column align-items-center" *ngFor="let item of pagedItems; " >
            <button class="btn-del " (click)="deleteImage(item.id)">x</button>
            <img data-id={{fotmatProtocal(item.fileDownloadUri)}} src={{fotmatProtocal(item.fileDownloadUri)}} style="    width: 100%;" width="100%" class="image img-responsive" alt="Image" (click)="selectImgClick($event)">
            <h6 data-id={{fotmatProtocal(item.fileDownloadUri)}}>{{item.fileName}}({{item.size+"kb"}})</h6>

          </div>

        </div>
      </div>
    </div>
  </div>
  <app-pagination [originList]="imageList" [numberItemOnePage]="numberItemOnePage"  (changePage)="pagedItems = $event"></app-pagination>
</div>
<app-confirm-form [title]="confirm.title" [content]="confirm.content" [show]="confirm.show" (yes)="yes()" (no)="no()"></app-confirm-form>
<app-notification [title]="notification.title" [bodyText]="notification.bodyText" [(show)]="notification.show"
  (isShowChange)="notification.show = $event" [notificationType]="notification.notificationType"></app-notification>