.success{
    min-width: 129px;
    min-height: 68px;
    background-color: darkseagreen;
    border: 1px solid rgb(0, 255, 106);
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 10000;
    padding: 9px;
    border-radius: 5px;
    box-shadow: 0px 0px 23px;

}
.danger{
    min-width: 129px;
    min-height: 68px;
    background-color: rgb(196, 93, 93);
    border: 1px solid red;
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 10000;
    padding: 9px;
    border-radius: 5px;
    box-shadow: 0px 0px 23px;

}
.warning{
    min-width: 129px;
    min-height: 68px;
    background-color: rgb(190, 159, 18);
    border: 1px solid rgb(255, 238, 0);
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 10000;
    padding: 9px;
    border-radius: 5px;
    box-shadow: 0px 0px 23px;

}
.primary{
    min-width: 129px;
    min-height: 68px;
    background-color: rgb(5, 136, 197);
    border: 1px solid rgb(0, 47, 255);
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 10000;
    padding: 9px;
    border-radius: 5px;
    box-shadow: 0px 0px 23px;

}
.successForm:hover{
  
    box-shadow: 0px 0px 0px;

}
.noti-body{
    color: white !important;
}
.close-btn{
    position: absolute;
    right: -4px;
    top: -12px;
    border-radius: 30px;
    background-color: darkgray;
}