<div [class]="notificationType " [hidden]="!show">
  <button class="close-btn" (click)="close()">x</button>
<div class="noti-titile">
    {{title}}    
</div>
<div class="noti-body">
  <p class="noti-body">{{bodyText}}</p>
</div>
</div>