<nav aria-label="Page navigation example mt-3">
    <ul class="pagination">
      <li class="page-item"><a class="page-link"  (click)="currentPage>0?changePageNum(currentPage-1):null">Previous</a></li>
      <li *ngFor="let item of totalPage;let index=index " (click)="changePageNum(index)" [ngClass]="index==currentPage?'page-item active':'page-item'" ><a class="page-link"  >{{index+1}}</a></li>
      <li class="page-item"><a class="page-link"  (click)="currentPage<totalPage.length-1?changePageNum(currentPage+1):null">Next</a></li>
    </ul>
  </nav>