<div class="row">
<div class={{class}} *ngFor="let item of listProduct">
  <div class="card mb-2">
    <div class="cardc">
      <h5 class="safe-icon">Safe off {{round(item.promotionPrice/item.price)}}%</h5>
      <div class="show-top-cart" (click)="redirectProductDetailById(item.id)">
        <p class="text-center" (click)="redirectProductDetailById(item.id)"><small> me for detail..</small></p>
      </div>
      <div class="show-bottom-cart d-flex justify-content-center align-items-center">
        <i class="love fa fa-heart"></i>
      </div>
      <img class="card-img-top" src={{item.imgUrl}} alt="Card image cap">
    </div>
    <div class="card-body">

      <h6 class="card-title">{{item.nameVi}}</h6>

      <div [ngClass]="boxStar"><i class="fa fa-star full-star"></i><i class="fa fa-star full-star"></i><i class="fa fa-star full-star"></i><i
          class="fa fa-star-half full-star"></i><i class="fa fa-star empty-star"></i></div>
      <p class="price">{{item.promotionPrice}} vnd <del><small>({{item.price}} vnd)</small></del></p>

      <p>
        <small>{{item.descriptionVi}}</small>
      </p>
      <div class="d-flex flex-row justify-content-between">
        <div>
          3 <i class="fa fa-comment-o" aria-hidden="true"></i>
          5<i class="fa fa-eye"></i>
        </div>
        <div>
          0<i class="fa fa-heart"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="card-text">
    {{item.descriptionVi}}</div>
</div>
</div>