@import '../../../assets/css/animate.css';

.color-pink{
    // background-color: #01171429;
}

.btn-pink{
    background-color: #ffc0cb !important;
    color: #5f5a5b !important;
    border: 1px solid pink !important;
    position: absolute;
    bottom: -486%;
    right: 34%;
}
.description{
  min-height: 48px;
}
.title-combo-card{
  background-color: #f5cda5;
    padding: 10px;
    border: 1px solid cadetblue;
    text-align: center;
    clip-path: polygon(0% 0%,10% 45%,29% 45%,24% 0%,75% 0%,70% 45%,95% 45%,100% 0%,100% 100%,95% 50%,70% 50%,75% 100%,24% 100%,29% 50%,10% 50%,0% 100%);

}
.title{
  background-color: #ffc0cb;
}
.full-star{       color: #de960f;
  width: 17px;}
.empty-star{     
  width: 17px;  color: #e7e6e2;}
  .box-star{
    margin-top: -13px;
  }
  .hide{
    display: none;
}

.card-show:hover .card-text{
display: block !important;
}

.card-text{
  display: none;
  background-color: #25231f;
  font-weight: 100;
  font-size: 12px;
  box-shadow: 1px 1px 7px black;
  color: antiquewhite;
  padding: 10px;
  position: absolute;
  z-index: 10;
  width: 92%;
}
.show-bottom-cart:hover ~ .card-img-top{
  transition:1s;
  width: 108%;
}
.cardc{
  height: 233px;
  overflow: hidden;
  
}
.cardc:hover .safe-icon{
  top:15%;
}
.cardc:hover .show-top-cart small,.cardc:hover .love{
  display: block;
  opacity: 1;
}
.cardc:hover .show-top-cart{
height: 45px;
}
.show-top-cart small{  display: none;}
.show-top-cart{
  height: 0px;
  position: absolute;
  background-color: #ffffffd9;
  width: 100%;
  transition: 0.3s;
}
.show-top-cart:hover{
  background-color: #ffffff;}
.show-bottom-cart{   
  
     position: absolute;
margin-top: 10%;
  height: 70%;
  width: 100%;
}
.love{
  opacity: 0;
      height: 67%;
  font-size: 102px;
  color: #b99dafcc;
  text-align: center;
  transition: 1s;
}
.love:hover{
  font-size: 130px;
  color: #f34251e0;
 
}
.price{
  color: #8e0b0b;
}
.safe-icon{

  width: 24%;
  font-size: 10px;
  background-color: #fdb905;
  position: absolute;
  color: white;
  padding: 6px;
  border: 1px solid;
  top: 9px;
  left: -2px;
  transition: 0.1s;

}
.containerc{
 
  background-color: white;
  margin-top: 3%;
  border: 1px solid #ecbf7c ;
  padding: 11px;
  border-radius: 1%;
  border-style: dashed;
}
.carousel-caption{
  background-color: #adacaa91 !important;
    width: 24%;
    height: 86%;
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    border-radius: 5%;
    box-shadow: 1px 1px 12px grey;
}
.carousel {
    .content {
      display: flex;
      .item {
        width: 100%;
        display: block;
        .img {
          width: 100%;
          display: block;
          background-size: cover;
          background-position: center;
          height: 0;
          padding-bottom: 50%;
        }
      }
    }
    .item {
      width: 100%;
      display: block;
      .img {
        width: 100%;
        display: block;
        background-size: cover;
        background-position: center;
        height: 0;
        padding-bottom: 50%;
      }
    }
    .ball {
      width: 10px;
      height: 10px;
      border-radius: app-border-radius(cycle);
      background: black;
      border: 2px solid;
      opacity: 0.5;
      &.visible {
        opacity: 1;
      }
    }
    &.transition {
      transition: all .4s ease-in-out;
    }
    .progress {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background: #ff5252;
    }
    .click-area {
      width: 50px;
      text-align: center;
      i {
        font-size: 3em;
      }
    }
  }
  .option-ticker{
    height: 38px;
    width: 41%;
    background-color: #fefff6;
    color: #d26934;
    border: 1px solid #b53402;
    margin-top: 16px;
    border-radius: 10px;
    text-align: center;
    /* box-shadow: -6px 5px 10px; */
    font-size: 13px;
    padding-top: 9px;
    font-weight: bold;
    border-style: dashed;
  }
  .intro-dark{
    height: 419px;
    background-color: #c6976b;
    color:white;
  }
  .containerc{
    width: 100%;
  }
  .news h2{    font-size: 4em;
    font-family: fantasy;}
    .news{
      background-color: white;
    }
    .story{
      background-color: rgb(27, 26, 26);
    }
    .title-box{
      background-color: #f93f23;
      position: absolute;
      top: -8%;
      width: 36%;
      text-align: center;
      height: 11%;
      color: white;
      font-family: serif;
    }
    .title-box-news{    background-color: #ca9b6d;
      position: absolute;
      top: -3%;
      width: 36%;
      text-align: center;
      height: 5%;
      color: white;
      font-family: serif;
      left: 31%;}

      @media screen and (max-width: 425px ){
  
        .title-combo-card{
  width: 100%;
  clip-path: none;
        }
        .containerc{
          width: 100%;
        }
  }