<div class="container mt-5 mb-4">

  <div class="row">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

      <img src="../../../assets/images/success.jpg" width="100%" class="img-responsive" alt="Image">

    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 right-ban">
      <div class="text-center">
        <h3>Congratulation :)</h3>
        Hi <B>{{fullname}}</B>! you become a member of Koreco, now login now for more exploring
        <div><a routerLink="/login" class="btn btn-success">Login now</a>
        </div>
      </div>
    </div>
  </div>



</div>