<form #bform="ngForm" id="bform">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
      <div class="card panel-headline">
        <div class="panel-heading">
          <div class="card-body">
            <h3 class="panel-title">Update category (id= {{updateId}})</h3>
            <code>Just fill up below input.</code>
            <p class="panel-subtitle"></p>
  
  
            <div class="row">
  
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                  <p class="font-weight-normal">Name</p>
                  <input type="text" name="name" required class="input-material form-control" id="name" minlength="1" maxlength="250" #name="ngModel" [(ngModel)]="itemModel.name" >
                <div *ngIf="name.errors&&(name.dirty||name.touched)" >
                 <p class="text text-danger" [hidden]="!name.errors.required">This field is required!</p>
                 <p [hidden]="!name.errors.minlength">This field is need more than 1 character!</p>
                 <p [hidden]="!name.errors.maxlength">This field is need less than 250 character!</p>
                </div>  
                </div>
                <div class="form-group">
                  <p class="font-weight-normal">Description</p>
                  <input type="text" name="description"  class="input-material form-control" [(ngModel)]="itemModel.description" >
                  <p class="text-danger"></p>
                </div>
                <div class="form-group">
                  <p class="font-weight-normal">Big Category</p>
                 
               <select name="big_category_id"  class="form-control" [(ngModel)]="itemModel.big_category_id"  required="required">
                 <option value={{item.id}} *ngFor="let item of bigcategoryList;index as index;">{{index}}. {{item.name}}</option>
               </select>
               
                  <p class="text-danger"></p>
                </div>
                <div class="input-group-prepend">
                    <p class="font-weight-normal mr-2">Status</p>
                    <div class="input-group-text">
                      <input type="checkbox" aria-label="Checkbox for following text input" [checked]="itemModel.status" (click)="changeStatus()" >
                    </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <button class="btn btn-default" (click)="showImgLibrary()">Upload</button>
  
                <img class="img-responsive" [src]="itemModel.img_url?itemModel.img_url:'./../../../../assets/images/default-img.png'" width="100%">
              </div>
            </div>
  
          </div>
        </div>
      </div>
      <div class="card panel-headline">
          <div class="panel-heading">
            <div class="card-body">
              <h5 class="panel-title">SEO for this category</h5>
              <code>Don't skip this form if you want everyone find.</code>
              <p class="panel-subtitle"></p>
    
    
              <div class="row">
    
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div class="form-group">
                    <p class="font-weight-normal">Focus keyword</p>
                    <input type="text" name="name_en" class="input-material form-control" [(ngModel)]="itemModel.focus_keyword" >
                    <p class="text-danger"></p>
                  </div>
                  <div class="form-group">
                    <p class="font-weight-normal">Meta title</p>
                    <input type="text" name="name_en" class="input-material form-control" [(ngModel)]="itemModel.meta_title" >
                    <p class="text-danger"></p>
                  </div>
             
                  <div class="form-group">
                    <p class="font-weight-normal">Description</p>
                    <input type="text" name="name_en" class="input-material form-control" [(ngModel)]="itemModel.description_seo" >
                    <p class="text-danger"></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                 
                </div>
              </div>
    
            </div>
          </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
      <button class="btn btn-success" type="submit" (click)="submitForm()" [disabled]="!bform.form.valid">Save</button>
      <p class="text-warning"  [hidden]="bform.form.valid">Fill up fields!</p>
    </div>
  </div>
  </form>
  <app-notification [title]="notification.title" [bodyText]="notification.bodyText"
   [(show)]="notification.show"  (isShowChange)="notification.show = $event" [notificationType]="notification.notificationType"
   ></app-notification>
   <app-image-library (getUrlLibrary)="getUrlLibrary($event)"  [show]="imgLibrary.show" (close)="imgLibrary.show=false"></app-image-library>
  <!-- END OVERVIEW -->