
  
     
      
  <div id="login-box">
    <div class="left">
      <h1>Login</h1>
  
    <p ><small class="text-danger">{{error}}</small></p>
    <p><small  class="text-success">{{success}}</small></p>
      <input type="text" name="email" placeholder="E-mail" [(ngModel)]="email"/>
      <input type="password" name="password" placeholder="Password" [(ngModel)]="password"/>
     
      <a  class="btn btn-success btn-block" (click)="login()">Login</a>
      <a routerLink="/register" class="btn btn-default btn-block mt-3">Create an account.</a>
    </div>
    
    <div class="right" style="        background-color: #ffdbb7;   ">
      <span class="loginwith">Login with<br />social network</span>
      
      <button class="social-signin facebook">Log in with facebook</button>
      <button class="social-signin twitter">Log in with Twitter</button>
      <button class="social-signin google">Log in with Google+</button>
    </div>
    <div class="or">OR</div>
  </div>
    