<div class="container">
  <div class="row">
    <img src="../../../../assets/images/bannerhome.png" width="100%" style="margin-top:30px;height:100%;" />
    <div class="d-flex flex-row justify-content-around w-100" style="width:100%">
      <div class="option-ticker">
        Every korean food for exploring
      </div>
      <div class="option-ticker">
        Cool drinking for exploring
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">   <!--Controls-->
    <div class="containerc">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
          <h4 class="title-combo-card" style="width:100%;"> Newest recepies</h4>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-show" *ngFor="let item of pagedItems">
          <div class="card mb-2">
            <div class="cardc">
              <h5 class="safe-icon">Safe off {{100-item.promotion_price/item.price}}%</h5>
              <div class="show-top-cart">
                <p class="text-center"><small> me for detail..</small></p>
              </div>
              <div class="show-bottom-cart d-flex justify-content-center align-items-center">
                <i class="love fa fa-heart"></i>
              </div>
              <img class="card-img-top" src={{item.imgUrl}} width="100%" height="100%" alt="Card image cap">
            </div>
            <div class="card-body">

              <h6 class="card-title">{{item.nameVi}}</h6>

              <div [ngClass]="boxStar"><i class="fa fa-star full-star"></i><i class="fa fa-star full-star"></i><i class="fa fa-star full-star"></i><i
                  class="fa fa-star-half full-star"></i><i class="fa fa-star empty-star"></i></div>
              <p class="price">{{item.price}}<del><small>{{item.promotion_price}}</small></del></p>

              <p class="description">
                <small>{{item.descriptionVi}}</small>
              </p>
              <div class="d-flex flex-row justify-content-between">
                <div>
                  3 <i class="fa fa-comment-o" aria-hidden="true"></i>
                  5<i class="fa fa-eye"></i>
                </div>
                <div>
                  0<i class="fa fa-heart"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="card-text">
            {{item.descriptionVi}}</div>
        </div>
      </div>
    </div>


    <!-- /.row -->

    <!-- Pagination -->
    <app-pagination [originList]="itemList" [session]="session" [numberItemOnePage]="numberItemOnePage"  (changePage)="pagedItems = $event"></app-pagination>

  </div>
</div>

