<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>3 Col Portfolio - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../assets/css/3-col-portfolio.css" rel="stylesheet">

</head>

<body (scroll)="onScroll($event)" style="    background-color: #f7f3ec;">

  <!-- Navigation -->
  <div style="    clip-path: polygon(0% 0%,100% 0%,100% 100%,70% 100%,69% 50%,33% 50%,32% 100%,0% 100%);
  height: 10px;
  width: 100%;
  background-color: aliceblue;
  position: absolute;
  z-index: 100;
  top: -22px;"></div>
  <div style="  
  height: 41px;
  width: 100%;
  background-color:  rgb(202, 155, 109);
 position: fixed;
  z-index: 100;
  top: -22px;" class="d-flex flex-row justify-content-between">

  <marquee direction="right" class="header-text-right"> We give you 2 for 1 order more than 200.000 vnđ - we are hiring some staff, join now and send your cv!</marquee>  
<p  *ngIf="authName==''" class="header-text-right d-flex flex-row"><a class="text-white login-btn" routerLink="/login">Login</a>|<a class="text-white register-btn " routerLink="/register">Register</a></p>  
<p *ngIf="authName!=''" class="option-auth"> <a class="text-white badge badge-success" routerLink="/my-order">My Order </a> <a class="text-white badge badge-primary" >{{authName}}  </a><a class="text-white badge badge-danger" (click)="logout()"> Logout</a> </p>
</div>
  <nav style="    background-color: #ffdbb7 !important;" class="mt-3  navbar-custom navbar navbar-expand-lg  bg-dark fixed-top">
    <div class="container-fluid">
      <div class="row" style="width:100%">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="    margin-left: 4%;">

          <a routerLink="/home"></a>
          <img class="logo" src="../../assets/images/brand.png" />

          <!-- <img class="lace-menu animated bounce" src="../../assets/images/lace-menu.png" /> -->


          <!-- <a class="navbar-brand " routerLink="/home">Koreco</a> -->
          <a routerLink="/home"><img src="https://fontmeme.com/permalink/181009/b63c1e87ec58a283181d7f24bd1c55b0.png" alt="calligraphy-fonts" style="    width: 6%;
            margin-left: 2%;"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
           <i class="fas fa-align-left    "></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive" style="    margin-top: -53px;">
            <ul class="navbar-nav ml34">
              <li class="nav-item ">
                <a [class]="show=='/home'?'nav-link active-top-menu':'nav-link'" routerLink="/home">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a [class]="show=='/about'?'nav-link active-top-menu':'nav-link'"  routerLink="/about">About Us</a>
              </li>
              <li class="nav-item">
                <a [class]="show=='/products'?'nav-link active-top-menu':'nav-link'"  routerLink="/product-list">Products</a>
              </li>
              <li class="nav-item">
                <a [class]="show=='/contact'?'nav-link active-top-menu':'nav-link'"  routerLink="/contact">Contact</a>
              </li>
              <li class="nav-item">
                  <a [class]="show=='/address'?'nav-link active-top-menu':'nav-link'"  routerLink="/address">Address</a>
                </li>
            </ul>


            <div class="input-group ml-auto search-box mt-3">
              <input type="search" class="form-control" placeholder="search" />

            </div>

          </div>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 d-flex flex-row justify-content-center">



          <div class="dropdown" *ngFor="let item of bigCategory;">
            <a>{{item.nameVi}}</a>
            <div class="dropdown-content">
                <ul class="">
                    <li class="nav-item active" *ngFor="let itemC of getCategoryByBigCateId(item,category);">
                      <a class="nav-link" (click)="navigateProductFilter(itemC)">{{itemC.nameVi}}
                        <span class="sr-only">(current)</span>
                      </a>
                    </li>
                  
                  </ul>
            </div>
          </div>
        


        </div>
      </div>
    </div>

  </nav>

  <router-outlet></router-outlet>
  <app-cart [show]="cart.show" (changeDisable)="cart.show=$event"></app-cart>
  <h2 (click)="btnShowCart()" class="shopping-cart " data-toggle="modal" data-target="#LoginForm"> <span id="quatityCounter" class="fa fa-cart-plus text-white"><span id="quatityChild" class="text-default">{{quantity}}</span></span></h2>
<div class="btn-message d-flex flex-row justify-content-around">
  <b class="text-center">Messages box</b><i class="fa fa-angle-up"></i>
</div>
  <!-- Footer -->
 <!-- Footer -->
 <div class="">
  <div class="contact-form-custom d-flex flex-row justify-content-around align-items-center">
    <h5 class="text-center">Get our latest recipes and expert tips right in your inbox</h5>

    <div class="input-group" style="    width: 22%;">
      <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
        aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button">Send us</button>
      </div>
    </div>

  </div>
</div>
<footer style="   background-color: #f9f4f1 !important;" class="page-footer font-small stylish-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About us</h5>
        <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur
          adipisicing elit.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase mt-3 mb-4">Company</h6>

        <ul class="list-unstyled">
          <li>
            <a href="#!">About</a>
          </li>
          <li>
            <a href="#!">Help</a>
          </li>
          <li>
            <a href="#!">Recruiment</a>
          </li>
          <li>
            <a href="#!">Contact</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Join us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Facebook</a>
          </li>
          <li>
            <a href="#!">Instagram</a>
          </li>
          <li>
            <a href="#!">Youtube</a>
          </li>
          <li>
            <a href="#!">Google</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h6 class="font-weight-bold text-uppercase mt-3 mb-4">License</h6>

        <ul class="list-unstyled">
          <li>
            <a href="#!">ICP 85/GP-ICP-STTTT</a>
          </li>
          <li>
            <a href="#!">MXH 152/GXN-TTDT</a>
          </li>
          <li>
            <a href="#!">SGD TMĐT 111</a>
          </li>
         
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h6 class="mb-1">Register for free</h6>
    </li>
    <li class="list-inline-item">
      <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
    </li>
  </ul>
  <!-- Call to action -->

  <hr>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fa fa-facebook"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fa fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fa fa-google-plus"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fa fa-linkedin"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fa fa-dribbble"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a > Koreco.com</a>
    <p><small>© 2018 Koreco. All rights reserved.Use of and/or registration on any portion of this site constitutes acceptance of our User Agreement (updated 5/25/18) and Privacy Policy and Cookie Statement (updated 5/25/18).Your California Privacy RightsThe material on this site may not be reproduced, distributed, transmitted, cached or otherwise used, except with the prior written permission of Koreco.</small></p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

  <!-- Bootstrap core JavaScript -->
  <script src=".././../assets/js/test.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>