@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '../../assets/css/animate.css';
.logo{
    width: 6%;
    position: absolute;
    top: -11%;
    left: -4%;
    box-shadow: 1px 1px 18px;
    border-radius: 20%;
    background-color: #cc9158 !important;
}

body{
    background-image: url('./../../assets/images/flos-mazetexture-black.png');
    background-repeat: repeat;
}
.login-btn{
    margin-top: -3px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #b30f0f;
    height: 48px;
}
.register-btn{
    margin-top: -3px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #bbaf06;
    height: 48px;
}
body:after{
    filter: blur(5px);
}
.navbar-brand{
    color:#5c1f02 !important;
    padding-left: 26px;
}
.navbar-nav{
    margin-top: 9px;
}
.contact-form-custom{
    background-color: #de960f;
    width: 100%;
    height: 100px;
  }
.active-top-menu{
    background-color: #0c0c0c;
    font-weight: 700;
    color: white !important;
    height: 36px;
    height: 28px;
    line-height: 1;
    // border-radius: 13%;
}
.bg-dark a{
    
    height: 24px;
    line-height: 0.5;
    margin-top:2px;
    color: #5f0606;
}
.bg-dark a:hover{
    color: rgb(187, 182, 182) ;
}
.lace-menu{
    position: absolute;
    top: 99%;
    left: 8%;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown > a{
    font-size: 12px;
    background-color: antiquewhite;
    border: 1px solid gray;
    font-weight: 400;
    padding: 3px;
    border-radius: 9px;
    margin-left: 10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fbfbfbf1;
    min-width: 231px;
    padding: 12px 16px;
    z-index: 1;
    border-radius: 4%;
    box-shadow: 4px 7px 12px -3px;
}
.header-text-right{
    padding-top: 21px;
    font-size: 11px;
    color: white;
    float: left;
    padding-right: 12px;
}
.header-text-left{
    padding-top: 21px;
    font-size: 11px;
    color: white;
    float: right;
    padding-left: 12px;
}
.option-auth{    display: block;
    width: 340px;
    /* float: left; */
    margin-top: 18px;}
// background-color: #fdbba3 !important;
.dropdown-content ul{
    list-style: none;
   
}
.dropdown-content ul li{
    margin-left: -38px;
}

.dropdown-content ul li a{
   text-align: center;
   color: gray;
   transition: 1s;
}
.dropdown-content ul li a:hover{
   background-color: #9c99987e;
    color: rgb(68, 64, 64);
    transition: 1s;
 }
.dropdown:hover .dropdown-content {
    display: block;
}
  
.ml34{
    margin-left: 34%;
}


.search-box{
    height: 28px;
    width: 186px !important;
    border-radius: 12%;
}
body{
    background-color: #dacaca3b;
}
footer.page-footer a {
    color: #926969;
    font-size: 14px;
    font-weight: 300;
}
footer.page-footer .footer-copyright {
    overflow: hidden;
    background-color: rgb(241, 199, 159);
    color: rgba(255, 255, 255, 0.6);
}
.shopping-cart {
    z-index: 1;
    padding-top: 15px;
    padding-left: 14px;
    color: white;
    font-size: 30px !important;
    position: fixed;
    right: 2px;
    top: 86px;
    background-color: #f5c08b;
    border-radius: 100px;
    width: 76px;
    height: 75px;
    border: 3px solid rgb(204, 158, 67);
    box-shadow: -2px 1px 15px;
}
.shopping-cart::after {
    content: "";
    z-index: -11;
    padding-top: 15px;
    color: white;
    font-size: 30px !important;
    position: absolute;
    right: -3px;
    top: -4px;
    /* background-color: #ec407a; */
    border-radius: 100px;
    width: 76px;
    height: 75px;
    border: 3px solid rgb(158, 109, 11);
    /* box-shadow: -2px 1px 15px; */
    animation-name: wave;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
.btn-message{    position: fixed;
    bottom: 4px;
    right: 1px;
    background-color: white;
    width: 17%;
    border-top-left-radius: 13px;
    box-shadow: 1px 1px 19px;
    border-bottom: 10px solid #613b16;}
@keyframes wave {
    0% {
        opacity: 1;
        transform: scale(0);
    }

    100% {
        opacity: 0;
        transform: scale(1.9);
    }
}
#quatityChild{
    background-color: white;
    padding: 2px;
    border-radius: 10px;
    margin-left: 3px;
}

@media screen and (max-width: 425px ){
    .logo{
        width: 23%;}
       
}
@media screen and (max-width: 768px ){
  
        .navbar-toggler:not(:disabled):not(.disabled) {
            background-color: #fcf8f8;
            cursor: pointer;
            float: right;
        }
        #navbarResponsive{margin-top: 8px !important;}
        .search-box {
             width: 100% !important; 
            margin-bottom: 5px;}
}