<div class="panel panel-headline">
  <div class="panel-heading">
    <h3 class="panel-title">Order</h3>
    
    <p class="panel-subtitle"></p>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
         
          <th>id</th>
          <th>Code</th>
          <th>User</th>
          <th>Phone</th>
          <th>CreateDate</th>
          <th>Received</th>
          <th>Delivering</th>
          <th>Delivered</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pagedItems;index as i;" >
       
          <td>{{item.id}}</td>
          <td>{{item.code}}</td>
          <td>{{item.user}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.create_date}}</td>
          <td class="text-center"><i  [class]="item.receivedState?'fa fa-circle text-success':'fa fa-circle text-danger'" (click)="changeReceived(item.id)"></i></td>
          <td class="text-center"><i  [class]="item.deliveringState?'fa fa-circle text-success':'fa fa-circle text-danger'" (click)="item.receivedState?changeDelivering(item.id):null"></i></td>
          <td class="text-center"><i  [class]="item.deliveredState?'fa fa-circle text-success':'fa fa-circle text-danger'"  (click)="item.deliveringState?changeDelivered(item.id):null"></i></td>
          <td class="text-center"><i  [class]="item.status?'fa fa-circle text-success':'fa fa-circle text-danger'" (click)="changeStatus(item.id)"></i></td>
          <td> <button class="fa fa-eye btn-warning" (click)="showOrderDetail(item.id)" aria-hidden="true"></button></td>
        </tr>
       
      </tbody>
    </table>
    <app-order-detail [order_id]="appOrderDetail.order_id"  [cart]="this.appOrderDetail.cart"  [show]="appOrderDetail.show" (changeDisable)="appOrderDetail.show=$event"></app-order-detail>
    <app-pagination [originList]="itemList" [session]="session" [numberItemOnePage]="numberItemOnePage"  (changePage)="pagedItems = $event"></app-pagination>
    <app-confirm-form [title]="confirm.title" [content]="confirm.content" [show]="confirm.show" (yes)="yes()" (no)="no()"></app-confirm-form>
    <app-notification [title]="notification.title" [bodyText]="notification.bodyText" [(show)]="notification.show"
      (isShowChange)="notification.show = $event" [notificationType]="notification.notificationType"></app-notification>
  </div>
</div>
<!-- END OVERVIEW -->

