/* All styles created for demo purposes only, you may not need this for your project */
.demo-button button {
  margin-bottom: 5px; }

.demo-icons li {
  margin-bottom: 50px;
  text-align: center; }

.demo-icons .lnr,
.demo-icons .fa {
  font-size: 28px; }

.demo-icons .cssclass {
  display: block;
  margin-top: 5px;
  margin-left: 5px; }
.nav-bar-admin{
  
  height: 0%;
}
.brand{
  border-radius: 24%;
  padding: 0px !important;
  margin-left: 1%;
    border: 1px solid #0000000f;
    box-shadow: 1px 1px 12px antiquewhite;
}
.brand img{       height: 67px;}
.sidebar{       background-image: linear-gradient(#2b0f0fde 84%, #94531b8a);
  background-color: #2b333e08 !important;
  width: 19%;
  position: fixed;
  top: 13%;
}
.imgbackground{position: fixed;
  height: 100%;}
.nav li span{
  font-size: 12px !important;
  color:#f5f2f3ba;

}
.brandname{width: 30%;
  margin-left: 8%;
  margin-top: 1%;
  color: #deb073;}
.nav li{    box-shadow: 1px 2px 3px #3c2025;}
.navbar-btn{    margin-top: -4%;}
/*# sourceMappingURL=demo.css.map */