<div class="container mt-5 mb-4">

  <div class="row">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

      <img src="../../../assets/images/order-preparation.png" width="100%" class="img-responsive" alt="Image">

    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 right-ban">
      <div class="text-center">
        <h3>Congratulation :)</h3>
      Your order in processing.. !
        <div><a routerLink="/" class="btn btn-success">Home</a>
          <a routerLink="/my-order " class="btn btn-success">My order</a>
        </div>
      </div>
    </div>
  </div>



</div>