<div class="bread-crum"> <h6>{{getBigCategoryById(itemModel,bigcategoryList).name}} > {{getCategoryById(itemModel,productcategoryList).nameVi}} > {{itemModel.name}}</h6></div>

<div class="container mt-1 mb-5 p-5">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="bow-off">
       
          <img src="./../../../../assets/images/bow-off.png" width="263%"  class="img-responsive" alt="Image">
          <p class="off-price">{{round(itemModel.promotion_price/itemModel.price)}}</p>
      </div>
       
      <div class="">
        <img class="img-responsive img-thumbnail"  (click)="deleteImgMore($event)" [src]="itemImgMain==''?itemModel.img_url:itemImgMain" width="100%"> 
        <img class="img-responsive img-thumbnail mt-1 mr-1" *ngFor="let item of convertStringToArray(itemModel.img_more_url +'','{/breakbao$#^imgmore/}')" (click)="deleteImgMore($event)" [src]="item=='undefined'?'./../../../../assets/images/default-img.png':item" width="20%">
        
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 content-side">
      
      <img src="./../../../../assets/images/Bow.png"  class="img-responsive bow" alt="Image">
      
      <h1 class="name-side">{{itemModel.name}}</h1>
      <div [ngClass]="boxStar"><i class="fa fa-star full-star"></i><i class="fa fa-star full-star"></i><i class="fa fa-star full-star"></i><i
        class="fa fa-star-half full-star"></i><i class="fa fa-star empty-star"></i></div>
    <p class="price"><b>Price:</b> {{itemModel.promotion_price}} vnd  <del><small>({{itemModel.price}} vnd)</small></del></p>

    <p>
      <small><b>Description:</b> {{itemModel.description}}</small>
    </p>
    <p>
      <small><b>Ingregient:</b> {{itemModel.ingredient}}</small>
    </p>
    <p>
      <small><b>Nutritional value:</b> {{itemModel.nutritional_value}}</small>
    </p>
    <label >Quantity</label> <input type="number" style="    width: 14%;
    text-align: center;" class="form-control"  min="1" max="100" [(ngModel)]="quantity">
      <button type="button" (click)="addCart()" class="btn btn-success">Add to cart</button>
      <button type="button" class="btn btn-warning">Message</button>
    </div>
  </div>
</div>
<div class="bread-crum "><h5 >May you love</h5></div>
<div class="container mt-2">
  <div class="row">
    
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-show" *ngFor="let item of listProductNewest">
      <div class="card mb-2">
        <div class="cardc">
          <h5 class="safe-icon">Safe off {{round(item.promotionPrice/item.price)}}%</h5>
          <div class="show-top-cart">
            <a class="text-center" (click)="redirectProductDetailById(item.id)"><small> me for detail..</small></a>
          </div>
          <div class="show-bottom-cart d-flex justify-content-center align-items-center">
            <i class="love fa fa-heart"></i>
          </div>
          <img class="card-img-top" src={{item.imgUrl}} alt="Card image cap">
        </div>
        <div class="card-body">

          <h6 class="card-title">{{item.nameVi}}</h6>

          <div [ngClass]="boxStar"><i class="fa fa-star full-star"></i><i class="fa fa-star full-star"></i><i class="fa fa-star full-star"></i><i
              class="fa fa-star-half full-star"></i><i class="fa fa-star empty-star"></i></div>
          <p class="price">{{item.promotionPrice}} vnd <del><small>({{item.price}} vnd)</small></del></p>

          <p>
            <small>{{item.descriptionVi}}</small>
          </p>
          <div class="d-flex flex-row justify-content-between">
            <div>
              3 <i class="fa fa-comment-o" aria-hidden="true"></i>
              5<i class="fa fa-eye"></i>
            </div>
            <div>
              0<i class="fa fa-heart"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="card-text">
        {{item.descriptionVi}}</div>
    </div>
  </div>
</div>

