<div><img class="imgbackground" src="../../assets/images/backgroundadmin.jpg"/></div>
<div id="sidebar-nav" class="sidebar">
  <div class="sidebar-scroll">
    <nav>
      <ul class="nav" *ngFor="let item of linkSideBar; let i = index">
       
        <li><a  routerLink={{item.link}} [ngClass]="show==item.link?'active':''"><i class="lnr {{item.icon}}"></i> <span>{{item.name}}</span></a></li>
        <!-- <li><a  routerLink="/admin/big-category" class=""><i class="lnr lnr-code"></i> <span>Big Category</span></a></li> -->
        <!-- <li><a  routerLink="/product-categoryl" class=""><i class="lnr lnr-chart-bars"></i> <span>Product category</span></a></li>
        <li><a  routerLink="panels.html" class=""><i class="lnr lnr-cog"></i> <span>Panels</span></a></li>
        <li><a  routerLink="notifications.html" class=""><i class="lnr lnr-alarm"></i> <span>Notifications</span></a></li>
        <li><a  routerLink="tables.html" class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li>
        <li><a  routerLink="typography.html" class=""><i class="lnr lnr-text-format"></i> <span>Typography</span></a></li>
        <li><a  routerLink="icons.html" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li> -->
      </ul>
    </nav>
  </div>
</div>
