<form #bform="ngForm" id="bform">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
      <div class="card panel-headline">
        <div class="panel-heading">
          <div class="card-body">
            <h3 class="panel-title">Update product(id= {{updateId}})</h3>
            <code>Just fill up below input.</code>
            <p class="panel-subtitle"></p>


            <div class="row">

              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                  <p class="font-weight-normal">Name(*)</p>
                  <input type="text" name="name" required class="input-material form-control" id="name" minlength="1"
                  maxlength="250" #name="ngModel" [(ngModel)]="itemModel.name">
                  <div *ngIf="name.errors&&(name.dirty||name.touched)">
                    <p class="text text-danger" [hidden]="!name.errors.required">This field is required!</p>
                    <p [hidden]="!name.errors.minlength">This field is need more than 1 character!</p>
                    <p [hidden]="!name.errors.maxlength">This field is need less than 250 character!</p>
                  </div>
                </div>
                <div class="form-group">
                  <p class="font-weight-normal">Price(*)</p>
                  <input type="number"  name="price" class="input-material form-control" [(ngModel)]="itemModel.price" required>
                  <p class="text-danger"></p>
                </div>
                <div class="form-group">
                  <p class="font-weight-normal">Promotion Price(*)</p>
                  <input type="number"  name="promotion_price" class="input-material form-control" [(ngModel)]="itemModel.promotion_price">
                  <p class="text-danger"></p>
                </div>
                <div class="form-group">
                  <p class="font-weight-normal">Currency(*)</p>
                  <select name="Currency" class="form-control" [(ngModel)]="itemModel.currency">
                    <option value="vnd"  [selected]="true">vnd
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <p class="font-weight-normal">Description</p>
                  <input type="text"  name="description" class="input-material form-control" [(ngModel)]="itemModel.description">
                  <p class="text-danger"></p>
                </div>
                <div class="form-group">
                  <p class="font-weight-normal">Ingredient</p>
                  <input type="text" name="ingredient" class="input-material form-control" [(ngModel)]="itemModel.ingredient">
                  <p class="text-danger"></p>
                </div>
                <div class="form-group">
                  <p class="font-weight-normal">Nutritional value</p>
                  <input name="nutritionalValue" class="input-material form-control" [(ngModel)]="itemModel.nutritional_value">
                  <p class="text-danger"></p>
                </div>
                <div class="form-group">
                  <p class="font-weight-normal">Big Category(*)</p>

                  <select name="big_category_id" class="form-control" [ngModel]="itemModel.big_category_id" (change)="loadProductCategory($event)">
                    <option value={{item.id}} *ngFor="let item of bigcategoryList;index as i;" [selected]="itemModel.big_category_id==item?true:false">{{i}}.
                      {{item.name}}</option>
                  </select>
                  <p class="text-danger"></p>
                </div>
                <div class="form-group">
                  <p class="font-weight-normal">Product Category(*)</p>
                  <select name="product_category_id" class="form-control" required [(ngModel)]="itemModel.product_category_id">
                    <option value={{item.id}} *ngFor="let item of productcategoryList;index as i;">{{i}}.
                      {{item.nameVi}}</option>
                  </select>

                  <p class="text-danger"></p>
                </div>
                <div class="input-group-prepend">
                  <p class="font-weight-normal mr-2">Status</p>
                  <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input" [checked]="itemModel.status"
                      (click)="changeStatus()">
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <p class="font-weight-normal">Profile image</p>
                <button class="btn btn-default" (click)="showImgLibrary('profile')">Upload</button>

                <img class="img-responsive" [src]="itemModel.img_url?itemModel.img_url:'./../../../../assets/images/default-img.png'"
                  width="100%">
                <hr />
                <p class="font-weight-normal">Option images</p>
                <button class="btn btn-default" (click)="showImgLibrary('option')">Upload </button>
                <code>Click to delete$</code>
                <div>
                  <!-- <img class="img-responsive" *ngIf="itemModel.img_more_url==''" src="./../../../../assets/images/default-img.png"   width="45%"> -->
                    <img class="img-responsive img-thumbnail" *ngFor="let item of convertStringToArray(itemModel.img_more_url +'','{/breakbao$#^imgmore/}')" (click)="deleteImgMore($event)" [src]="item=='undefined'?'./../../../../assets/images/default-img.png':item" width="45%">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="card panel-headline">
        <div class="panel-heading">
          <div class="card-body">
            <h5 class="panel-title">SEO for this category</h5>
            <code>Don't skip this form if you want everyone find.</code>
            <p class="panel-subtitle"></p>


            <div class="row">

              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                  <p class="font-weight-normal">Focus keyword</p>
                  <input type="text" name="name_en" class="input-material form-control" [(ngModel)]="itemModel.focus_keyword">
                  <p class="text-danger"></p>
                </div>
                <div class="form-group">
                  <p class="font-weight-normal">Meta title</p>
                  <input type="text" name="name_en" class="input-material form-control" [(ngModel)]="itemModel.meta_title">
                  <p class="text-danger"></p>
                </div>

                <div class="form-group">
                  <p class="font-weight-normal">Description</p>
                  <input type="text" name="name_en" class="input-material form-control" [(ngModel)]="itemModel.description_seo">
                  <p class="text-danger"></p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
      <button class="btn btn-success" type="submit" (click)="submitForm()" [disabled]="!bform.form.valid">Save</button>
      <p class="text-warning" [hidden]="bform.form.valid">Fill up fields(*)!</p>
    </div>
  </div>
</form>
<app-notification [title]="notification.title" [bodyText]="notification.bodyText" [(show)]="notification.show"
  (isShowChange)="notification.show = $event" [notificationType]="notification.notificationType"></app-notification>
<app-image-library (getUrlLibrary)="getUrlLibrary($event)" [show]="imgLibrary.show" (close)="imgLibrary.show=false"></app-image-library>
<!-- END OVERVIEW -->